.sign-up {
	display: flex;
	flex-direction: column;
	width: 380px;

	.title {
		margin: 10px 0;
	}
	.radio {
		display: inline-block;
		align-content: space-between;
		margin: 10px 0 0 0;

		.select-option {
			margin: 0 0 20px 0;
		}
	}
}
