.leftside-menu-block {
	.list {
		display: block;
		padding-left: 10px;
		margin: 5px 0 5px;
		list-style: none;
		display: block;
		cursor: pointer;
		&:hover {
			background-color: var(--primary-color);
			color: black;
		}
	}
}
