.cart-icon {
	/* width: 2vw;
	height: 2vw; */
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0 1vw;

	.shopping-icon {
		width: 9vw;
		height: 9vw;
		color: rgb(0, 0, 0);
	}

	.item-count {
		position: absolute;
		color: rgb(255, 255, 255);
		font-size: 3.5rem;
		margin-left: 3.5vw;
		font-weight: bold;
	}

	&:hover {
		.shopping-icon {
			width: 2.2vw;
			height: 2.2vw;
		}
		.item-count {
			font-size: 1.2rem;
		}
	}
}
