.table-page {
	border-collapse: collapse;
	margin-top: 25px;

	.table-header {
		border: 2px solid var(--primary-color);
		background-color: var(--primary-color);

		th {
			border: 1px solid var(--primary-color-m);
		}
		.th1,
		.th2 {
			width: 30px;
		}
	}
	tbody {
		.table-data-row {
			td {
				border: 1px solid var(--primary-color);
			}

			.emp-code {
				text-align: center;
			}
			.table-image-container {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				img {
					object-fit: cover;
					width: 35px;
					height: 35px;
					border-radius: 50%;
				}
			}
		}
		.table-data-row:hover {
			background-color: var(--primary-color);
		}
	}
}

.btn {
	width: 60px;
	height: 20px;
	border-radius: 5px;
	margin: 0 5px 0 5px;
	cursor: pointer;
}

.btn-edit {
	background-color: rgb(253, 216, 5);
	color: rgb(5, 4, 4);
}
.btn-delete {
	background-color: rgb(255, 0, 0);
	color: white;
}
