.selection-menu {
	display: flex;
	justify-content: start;
	.dropdown-menu {
		width: 400px;
		margin: 15px 5px;
	}
}
.card-for-image-text {
	display: flex;
	margin: 1.5rem 0;
	.header-image {
		margin-right: 10px;
		border: 2px solid rgb(189, 30, 30);
		border-radius: 50%;
		width: 80px;
		height: 80px;
		background-color: rgb(255, 255, 255);
	}

	.card-for-header {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		padding: 0 0px 5px 0;
		background-color: var(--primary-color-m);

		.header-text {
			width: 30%;
			padding: 10px 20px;
		}
	}
}
/* .selection-container {
	width: 80%;
	height: auto;

	.selection-menu {
		display: flex;
		justify-content: start;
		.dropdown-menu {
			width: 400px;
			margin: 15px 5px;
		}
	}

	
}

.container {
	display: flex;
	flex-direction: column;
	.bloc-tabs {
		display: flex;
		background: #ffffff;

		.tabs {
			padding: 5px;
			text-align: center;
			width: 100%;
			background: rgb(0, 0, 0);
			cursor: pointer;
			border-bottom: 5px solid rgba(240, 240, 240, 0.555);
			color: white;

			outline: none;
		}
		.tabs:not(:last-child) {
			border-right: 2px solid rgb(250, 250, 250);
		}

		.active-tabs {
			background: rgb(255, 255, 255);
			border-bottom: 1px solid transparent;
			border-left: 1px solid rgb(0, 0, 0);
			border-right: 1px solid rgb(0, 0, 0);
			color: black;
		}
	}
	.content-tabs {
		flex: 1;

		.content {
			background: rgb(255, 255, 255);
			padding: 20px;
			display: none;
		}

		.active-content {
			display: block;
		}
		.form-container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin: 0 15px;
			max-height: 25em;
			width: 100%;
			background-color: rgb(255, 255, 255);

			.form-dropdown {
				background: none;
				background-color: rgba(255, 255, 255, 0);
				color: rgb(0, 0, 0);
				font-size: 18px;
				border-radius: 15px;
				width: 400px;
				margin: 10px 0;
				display: block;
			}
		}
	}
}
 */
