.form-page {
	display: flex;
	width: 100vw;

	.leftside-menu-block {
		background-color: var(--left-side-menu-block);
		position: sticky;
		top: 0;
		left: 0;
		z-index: 4;
		background-color: rgb(0, 0, 0);
		padding: 2vh 1vw;
		height: 100vh;
	}

	.rightside-main-section {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		flex-direction: column;

		background-color: rgb(230, 230, 230);
		padding: 0 2rem;
		margin-bottom: 2.5vw;

		.title {
			padding: 1rem 0;
			display: flex;
			justify-content: center;
		}
		.form-container {
			display: flex;
			flex-direction: column;
			width: 80vw;

			.bloc-tabs {
				display: flex;
				background: #ffffff;

				.tabs {
					padding: 5px;
					text-align: center;
					width: 100%;
					background: rgb(0, 0, 0);
					cursor: pointer;
					border-bottom: 5px solid rgba(240, 240, 240, 0.555);
					color: rgb(255, 255, 255);

					outline: none;
				}
				.tabs:not(:last-child) {
					border-right: 2px solid rgb(250, 250, 250);
				}

				.active-tabs {
					background: rgb(255, 255, 255);
					border-bottom: 1px solid transparent;
					border-left: 1px solid rgb(0, 0, 0);
					border-right: 1px solid rgb(0, 0, 0);
					color: black;
				}
			}
			.content-tabs {
				flex: 1;

				.content {
					background: rgb(255, 255, 255);
					padding: 20px;
					display: none;
					flex-direction: column;
					/* height: 80vh; */
					/* width: 80vw; */
					.tab-title {
						align-self: center;
					}
				}

				.active-content {
					display: flex;
				}
				.form-container {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					margin: 0 15px;
					max-height: 25em;
					width: 100%;
					background-color: rgb(255, 255, 255);

					.form-dropdown {
						background: none;
						background-color: rgba(255, 255, 255, 0);
						color: rgb(0, 0, 0);
						font-size: 18px;
						border-radius: 15px;
						width: 400px;
						margin: 10px 0;
						display: block;
					}
				}
			}

			.button-upload {
				align-self: center;
				padding: 5px;
				width: 60%;
				margin: 5px;
				border-radius: 0.5rem;
				text-align: center;
				font-size: 0.8rem;
				background-color: var(--primary-color);
				color: black;
				text-transform: uppercase;
				font-family: "Open Sans Condensed";
				font-weight: bolder;
				border: none;
				cursor: pointer;
				box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
			}
			.tab-container {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				height: 60vh;
				align-content: flex-start;
				.form-dropdown {
					width: 18rem;
					margin: 0.5rem 0;
				}
			}
			.image-form-page {
				display: flex;
				background-color: white;
				.image-container {
					width: 12vw;
					/* height: 70vh; */
					display: flex;
					flex-direction: column;
					margin-right: 1rem;

					input {
						background-color: chocolate;
						color: cornsilk;
						font-size: 0.7rem;
					}
					.imgPreview {
						align-content: center;
						img {
							margin-left: auto;
							margin-right: auto;
							display: block;
							width: 150px;
							height: 150px;
							object-fit: cover;
						}

						background-color: rgb(245, 245, 245);
					}
				}
			}
		}
	}
}
